.menu {
    display: flex;
    align-items: center;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fff;
    color: rgb(43, 132, 216);
}

.linkActive {
    composes: link;
    background-color: rgb(43, 132, 216);
    color: #fff
}